---
import { NavLinks } from "@/constants";
---

<div
  x-data="{ open: false }"
  class="fixed z-50 w-full px-3 py-2 transition-all duration-1000 rounded-xl mt-4 inset-x-0 mx-auto ease-in-out transform max-w-2xl header"
>
  <div
    class="flex flex-col w-full p-2 mx-auto md:items-center md:justify-between md:flex-row"
  >
    <div class="flex flex-row items-center justify-between">
      <span class="font-bold tracking-tighter text-black uppercase site-title"
        >JE MARTINEZ</span
      >
      <button
        class="md:hidden focus:outline-none nav-toggle relative size-8"
        @click="open = !open"
      >
        <span
          :class="{'top-2.5 rotate-45': open, 'top-1': !open}"
          class="hamburger absolute block h-0.5 w-6 bg-current transition-all duration-300 ease-in-out"
        ></span>
        <span
          :class="{'opacity-0': open, 'opacity-100': !open}"
          class="hamburger absolute top-2.5 block h-0.5 w-6 bg-current transition-all duration-300 ease-in-out"
        ></span>
        <span
          :class="{'top-2.5 -rotate-45': open, 'top-4': !open}"
          class="hamburger absolute block h-0.5 w-6 bg-current transition-all duration-300 ease-in-out"
        ></span>
      </button>
    </div>

    <div
      :class="{'max-h-56 translate-y-0 opacity-100': open, 'max-h-0 -translate-y-4 opacity-0 pointer-events-none': !open}"
      class="sm:hidden right-0 top-16 w-full origin-top transform rounded-md rounded-t-none transition-all duration-300 ease-in-out overflow-hidden header"
    >
      <div class="py-1">
        {
          NavLinks.map((link) => (
            <a href={link.href} class="block text-black nav-link">
              {link.label}
            </a>
          ))
        }
      </div>
    </div>

    <nav
      class="flex-col flex-grow gap-8 hidden pb-4 md:pb-0 md:flex md:flex-row lg:ml-auto justify-end"
    >
      {
        NavLinks.map((link) => (
          <a href={link.href} class="text-black nav-link">
            {link.label}
          </a>
        ))
      }
    </nav>
  </div>

  <script type="module">
    document.addEventListener("DOMContentLoaded", function () {
      const header = document.querySelector(".header");
      const navLinks = document.querySelectorAll(".nav-link");
      const title = document.querySelector(".site-title");

      updateHeader();

      window.addEventListener("scroll", function () {
        updateHeader();
      });

      navLinks.forEach(function (link) {
        link.addEventListener("click", function () {
          updateHeader();
        });
      });

      function updateHeader() {
        const atTop = window.pageYOffset <= 50;
        header.classList.toggle("bg-white", atTop);
        header.classList.toggle("bg-black", !atTop);
        header.classList.toggle("bg-opacity-90", !atTop);
        header.classList.toggle("backdrop-blur-xl", !atTop);
        header.classList.toggle("max-w-3xl", !atTop);
        updateTextColors(atTop);
        updateTitleColor(atTop);
        updateBurgerColor(atTop);
      }

      function updateTextColors(atTop) {
        const textColor = atTop ? "text-black" : "text-white";
        navLinks.forEach(function (link) {
          link.classList.remove(atTop ? "text-white" : "text-black");
          link.classList.add(textColor);
        });
      }

      function updateTitleColor(atTop) {
        title.classList.remove(atTop ? "text-white" : "text-black");
        title.classList.add(atTop ? "text-black" : "text-white");
      }

      function updateBurgerColor(atTop) {
        const burger = document.querySelectorAll(".hamburger");
        if (!burger) {
          return;
        }
        burger.forEach(function (b) {
          b.classList.remove(atTop ? "text-white" : "text-black");
          b.classList.add(atTop ? "text-black" : "text-white");
        });
      }
    });
  </script>
</div>
