---
interface Props {
  title: string;
  placeholderText: string;
}

const { placeholderText } = Astro.props;
---

<section class="w-full h-screen flex flex-col items-center justify-between">
  <div
    class="xl:w-1/2 flex-1 flex flex-col items-center justify-center text-center px-4 lg:px-0"
  >
    <img src="/svgs/placeholder.svg" alt="Placeholder" />
    <p class="text-4xl font-bold text-gray-700 capitalize tracking-wide mt-8">
      {placeholderText}
    </p>
  </div>
</section>
